%footer#contact
  .container
    .row
      .col-lg-10.col-lg-offset-1
        .col-md-4
          %p
            %strong Address
          %p Island Cedar Products Ltd.
          %p 33516 Harbour Ave
          %p Mission, BC
          %p Canada
        .col-md-4
          %p
            %strong Phone
            %p.fa.fa-phone +1 (604) 814-3113
        .col-md-4
          %p
            %strong E-mail
            %p.fa.fa-envelope-o.fa-fw
            %a{:href => "mailto:islandce@telus.net"} islandce@telus.net
      .col-md-12.text-center
        %hr.small
        %p.text-muted Copyright © Island Cedar Products Ltd. 2016
  %a#to-top.btn.btn-dark.btn-lg{:href => "#top", :style => "display: block; position: fixed;"}
    %i.fa.fa-chevron-up.fa-fw.fa-1x
